<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <sessionState mode="Off" />
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5"  />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="createaccount" type="ZSSO.createaccount" verb="*" path="createaccount.ashx"/>
        </handlers>
    </system.webServer>
</configuration>
